.coin__title{
    margin-bottom: 60px;
    max-width: 560px;
}

.coin__title h3{
    font-weight: 700;
    font-size: 64px;
}

.coin__title span{
    background: linear-gradient(135deg, #6ddcff 0%, #7f60f9 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.form__wrapper{
    display: flex;
    align-items: center;
}

.form__coin-inner{
    padding: 30px;
}

.form__coin-name{
    margin-bottom: 15px;
}

.coin__name{
    height: 55px;
    padding: 17px 20px;
    width: 450px;
    background: none;
    font-weight: 500;
    font-size: 16px;
    /* color: rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.7); */
    border-radius: 7px;
}

.coin__user-name{
    margin-bottom: 15px;
}

.coin__user{
    height: 55px;
    padding: 17px 20px;
    width: 450px;
    background: none;
    font-weight: 500;
    font-size: 16px;
    /* color: rgba(255, 255, 255, 0.7); */
    /* border: 1px solid rgba(255, 255, 255, 0.7); */
    border-radius: 7px;
}

.form__coin-assessment{
    margin-bottom: 25px;
}

.coin__assessment{
    height: 55px;
    padding: 17px 20px;
    width: 450px;
    background: none;
    font-weight: 500;
    font-size: 16px;
    /* color: rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.7); */
    border-radius: 7px;
}

.form__coin-text{
    margin-bottom: 30px;
}

.coin__text{
    height: 110px;
    padding: 17px 20px;
    width: 450px;
    background: none;
    font-weight: 500;
    font-size: 16px;
    /* color: rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.7); */
    border-radius: 7px;
    resize: none;

}

.form__btn-checkbox{
    display: flex;
    margin-bottom: 15px;
}

.form__btn-checkbox input{
    margin-right: 20px;
}

.form__btn-checkbox p{
    font-size: 14px;
    opacity: .3;
}

.form__btn-checkbox a{
    text-decoration: underline;
    font-size: 15px;
}

.coin__btn{
    background: linear-gradient(96deg, #6ddcff 0%, #7f60f9 100%);
    border-radius: 7px;
    padding: 15px 30px;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #000;
    margin-right: 10px;
}


.form__image{
    opacity: .3;
}

.form__btn-checkbox{
    position: relative;
}

.form__checkbox-text{
    margin-left: 20px;
}

 input[type="checkbox"] {
    appearance: none;
    position: relative;
 }
  
  .checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 5px;
    border: 2px solid grey;
    transition: 100ms ease-in;
    cursor: pointer;
  }
    
  input:checked + .dark {
    background: linear-gradient(135deg, #6ddcff 0%, #7f60f9 100%);
  }





@media (max-width: 480px) {
    .form__title{
        margin: 20px 0 ;
    }
    
    .form__title h3{
        font-size: 30px;
    }

    .form__name{
        max-width: 290px;
    }

    .form__phone{
        max-width: 290px;
    }

    .form__tg{
        max-width: 290px;
    }
    .form__text{
        max-width: 290px;
    }
   
    .form__btn-txt{
        font-size: 12px;
        max-width: 200px;
    }

    .form__checkbox-text p{
        font-size: 12px;
        min-width: 250px;
    }

    .form__inner-text{
        margin-bottom: 20px;
    }
    
    .from__btn{
        background: linear-gradient(96deg, #6ddcff 0%, #7f60f9 100%);
        border-radius: 7px;
        padding: 15px 50px;
        font-weight: 500;
        font-size: 20px;
        text-align: center;
        color: var(--textColor);
        margin-right: 10px;
    }

    .form__image{
        display: none;
    }
    
}