.value__wrapper{
    background: none;
    border: 2px solid transparent;
    border-image:linear-gradient(135deg, #d9a067 0%, #04b5e2 42.59%, #be68bd 100%) 1;
    display: flex;
}

.value__inner{
    padding: 15px 10px 0;
    justify-content: center;
}

.value__title{
    justify-content: center;
    font-weight: 700;
    font-size: 22px;
    background: linear-gradient(135deg, #6ddcff 0%, #7f60f9 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
}

.coin__info{
    display: flex;
    justify-content: space-around;
}

.coin__info p{
    font-weight: 700;
    font-size: 16px;
}

.coin__line{
    display: block;
    border: 2px solid #FFF;
    width: 100% ;
    height: 0;
    margin: 20px 0;
}


.value__item{
    display: flex;
    margin-bottom: 15px;
    align-items: center;    
}

.value__item:last-child{
    display: flex;
    margin-bottom: 20px;
    align-items: center;    
}

.coin__img{
    margin:0 80px 0 30px;
}

.coin__price span{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.45;
}

.coin__price p{
    color: #717184;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.35;
}